.idea

*.csv
*.zip
*.pyc
.DS_Store

# Trainig outputs
work_dirs/
outputs/
logs/
wandb/

# Model weights / checkpoints
*.pth
*.pt
*.ckpt

# Large demo/media files
*.mp4
*.avi
*.mov
*.mkv

# Dataset
data/
dataset/
datasets/

# Python cache
__pycache__/
*.pyc

# Local/environment artifacts
*.whl

# Editors
.vscode/
.idea/
.old/

# Local files
clrernet_main.tgz

# Node 1 settings (Prevent Local changes to occur collision)
configs/local
tools/local_script_history.sh
requirements/node1_env.txt

# NMS build meta infos
libs/models/layers/nms/src/nms.egg-info/
libs/models/layers/nms/src/nms.egg-info/PKG-INFO
libs/models/layers/nms/src/nms.egg-info/SOURCES.txt
libs/models/layers/nms/src/nms.egg-info/dependency_links.txt
libs/models/layers/nms/src/nms.egg-info/top_level.txt
libs/models/layers/nms/build/

# Selective Scan Build
kernels/selective_scan/build/
kernels/selective_scan/selective_scan.egg-info/


